<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body>
        <div class="jumbotron"
            <div class="container">
                <h1>Welcome to My One Month Python Project!
                My name is Kate, and I am a web developer/designer.
                I built this project with Flask for <a href="http://onemonth.com/courses/one-month-python">One Month Python</a>.
                <p><a href="{{ url_for('index') }}">Back to homepage</a></p>
                </h1>
            </div>
        </div>
    </body>
</html>