<!DOCTYPE html>
<html>
    <head>
        <title>Indie Cuisine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container-header">
                <h1 class="logo">Indie Cuisine</h1>
            </div>
        </header>
        <div class="jumbotron"
            <div class="container">
                {% if businesses %}
                    <div class="column-one">
                        <h1>{{ businesses }}</h1>
                        <p></p>
                    </div>
                    <div class="column-two">
                    </div>
                    <a href="{{ url_for('index') }}">Look for more mod eateries</a>
                {% else %}
                    <h1>Welcome to Indie Cuisine! Find great local restaurant suggestions here!</h1>
                    <h2>Where do you live, and what type of restaurant are you searching for?</h2>
                    <h3>For all restaurants, enter "food".</h3>
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="location" class="form-control" placeholder="City, State">
                        </div>
                        <div class="form-group">
                            <input type="text" name="params" class="form-control" placeholder="food">
                        </div>
                        <input type="submit" value="Submit" class="button">
                    </form>
                {% endif %}
                <a href="{{ url_for('about') }}"> | About Indie Cuisine</a>
            </div>
        </div>
    </body>
</html>